<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Ventas</title>
    <!-- Bootstrap CSS -->
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            <table class="table text-center mx-auto">
                &nbsp;
                <div class="card text-center">
                    <div class="card-header">
                        <h3 class="text-uppercase">REPORTE DE VENTAS</h3>
                    </div>
                </div>
                <br>
                <thead>
                    <h3 class="text-center text-uppercase p-2">LISTA DE VENTAS</h3>
                    <tr class="table-dark">
                        <th scope="col">Cliente ID</th>
                        <th scope="col">Nombre del Cliente</th>
                        <th scope="col">Fecha de Venta</th>
                        <th scope="col">Cantidad de Productos</th>
                        <th scope="col">Total Dinero</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if ventas}}
                        {{#each ventas}}
                            <tr>
                                <td>{{ClienteID}}</td>
                                <td>{{ClienteNombre}}</td>
                                <td>{{FechaVentas}}</td>
                                <td>{{CantidadProductos}}</td>
                                <td>${{TotalDinero.toFixed(2)}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan="5">
                                <h3 class="text-center text-uppercase">No hay ventas registradas</h3>
                            </td>
                        </tr>
                    {{/if}}
                </tbody>
                <tfoot>
                    <tr class="table-dark">
                        <td colspan="5">REGISTRO DE VENTAS</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</body>
</html>
