<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Ventas</title>
    
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Reporte de Ventas</h2>
            </div>
            <div class="card-body">
                <div class="table-container">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Cliente ID</th>
                                <th>Nombre del Cliente</th>
                                <th>Fecha de Venta</th>
                                <th>Cantidad de Productos</th>
                                <th>Total Dinero</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each ventas}}
                                <tr>
                                    <td>{{this.ClienteID}}</td>
                                    <td>{{this.ClienteNombre}}</td>
                                    <td>{{this.FechaVentas}}</td>
                                    <td>{{this.CantidadProductos}}</td>
                                    <td>${{this.TotalDinero}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
